# build outputs
*.o
*.skel.h
*.bpf.o
*.tmp.bpf.o
.output/
daemon_v2
protected_daemon
addr_translate_dram_test
addr_translate_test
bank_profile_merge_test
bank_profile_overlap_test
bank_profile_test
calibration_test
dram_mapping_test
proc_activity_test
interference_detector_test

# external dependency
libbpf-bootstrap/

# temporary files
*.log
*.tmp
.DS_Store
